/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'Fira Sans', sans-serif;
  color: #333333;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}


/* Nav Bar Style */

.header {
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 1.2rem;
}

.navbar {
  background-color: #1F1F1F !important;
  margin: 0;
  padding: 0 1rem;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  height: 65px;
  width: 220px;
  margin: 0;
  padding: 0;
}

/*  Mega Menu  */

nav.main .megamenu {
  padding: 20px 20px;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.megamenu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.megamenu a {
  color: #fff;
}

.dropdown-menu.megamenu.midmenu.show {
  right: 0;
}

.dropdown-menu.show {
  right: 0;
}

.dropdown-menu {
  background-color: #C32026 !important;
  width: 80%;
  margin: 0 auto;
  opacity: 0.85;
}

/* Shopping cart */

.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: auto;
}

#shoppingcart-menu {
  position: initial;
}

#shoppingcart-dp {
  background-color: #ffffffcc !important;
  opacity: 0.95;
}

#sc-dropdown {
  padding-left: 10px;
}

/* Login navbar */

#login-dp {
  min-width: 350px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: #ffffffcc !important;
}

#login-dp .help-block {
  font-size: 12px
}

#login-dp .bottom {
  background-color: #ffffffcc !important;
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
  width: 100%;
}

#login-dp .social-buttons {
  margin: 12px 0
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

#login-user {
  text-align: center;
}

#login-dropdown {
  padding-left: 10px;
}

.btn-fb {
  color: #fff !important;
  background-color: #3b5998 !important;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-tw {
  color: #fff !important;
  background-color: #55acee !important;
}

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

.img-responsive {
  width: 120px;
  height: 120px;
}

/* Search bar styles */

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: auto;

  padding: 10px;
  padding-left: 0;
}

.search_input {
  color: #e74c3c;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 140px;
  caret-color: red;
  transition: width 0.4s linear;
  background-color: #353b48;
  border-radius: 30px;
}

.searchbar:hover>.search_icon {
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #8F8F8F;
  text-decoration: none;
}


/* Main style */

::selection {
  background: #FFF7B6;
  color: black;
}

.container {
  padding: 0;
  margin: 0;
}

h2.title {
  font-size: 1.4rem;
  padding-top: .75em;
  padding-bottom: .75em;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

h2,
.h2,
h2.title {
  font-style: normal;
  text-transform: uppercase;
  display: block;
}


/* Divider style */

.feature_divider {
  border-color: #515152;
  position: relative;
  margin-bottom: 1.1em 0;
  width: 100%;
  display: block;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid
}

.feature_divider:after {
  content: "";
  display: block;
  width: 114px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 57px);
  background: #404041
}

/* Future Products section */

.future-pro-img {
  padding: 5% 0;
  width: 100%;
}

.fp-slider {
  padding: 0 4%;
}

.controls {
  padding: 0;
  width: 5%;
}

.carousel-indicators {
  margin: 0;
}

/* Article style */

/* Latest News Section */

.latest_news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px 15px 15px;
}

.news-block {
  width: 64%;
  box-sizing: border-box;
  padding: 0 2%;
}

.news-block .news-block-subheading {
  display: flex;
  margin-top: 20px;
}

.news-block .news-block-subheading img {
  margin-right: 20px;
  height: 100%
}

.news-block .news-block-subheading h3 {
  font-size: 20px;
  color: #fff;
  margin: 0
}

.news-block .news-block-subheading p {
  margin-top: 0;
}

.news-block p {
  color: #fff;
  margin: 0;
  margin-top: 12px
}

.news-block a:hover {
  text-decoration: underline
}

.news-block a {
  color: #ff0000;
  text-decoration: none;
  font-weight: 600
}


.video-block {
  width: 34.5%;
  box-sizing: border-box;
  padding: 0 2%;
}

.video-block .video {
  width: 100%;
  margin-top: 15px;
}

.video-block .video iframe {
  width: 100%
}

/* Footer style */

footer ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.container-footer {
  flex: 1;
}

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */


.footer-form input[type="email"] {
  border: 1px;
  border-radius: 12px 0 0 12px;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

.footer-form input[type="submit"] {
  background-color: #1f1f1f;
  border-radius: 0 12px 12px 0;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #1f1f1f;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

.ft-main {
  justify-content: space-evenly;
}

/* Desktop lg Layout */

@media (max-width: 992px) {
  .search_icon {
    float: left;
  }
}

/* Tablet md layout */

@media all and (max-width: 767px) {

  h2.title {
    font-size: 1.1rem;
  }

  .news-block .news-block-subheading {
    display: inline-block;
    margin-top: 20px;
  }

  .news-block-subheading img {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Login nav */
  #login-dp {
    background-color: inherit;
  }

  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }

  .search_icon {
    float: left;
  }

  /* Shopping cart  */
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    width: 100%;
  }

  .actions .btn-danger {
    width: 100%;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }

  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }

}

/* Mobile sm Layout */

@media all and (max-width: 576px) {

  h2.title {
    font-size: 20px;
  }

  .ft-main {
    text-align: center;
  }

  .footer-form input[type="email"] {
    border: 1px;
    border-radius: 12px;
  }

  .footer-form input[type="submit"] {
    border-radius: 12px;
  }

  /* latest news */

  .latest_news {
    margin: 0 15px;
  }

  .news-block-subheading img {
    width: 100%;
    margin-bottom: 15px;
  }

  .dropdown-menu {
    width: 100%;
    margin: 0;
  }

}




/* _______________________________________________ Beta edit */

/* Desktop page styles*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Play:400,700');


.desktop-container {
  margin: 0 auto;
  padding: 5px 0;
  background-color: black;
  color: white;
  font-weight: 400;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.main-title-text {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: white;
  padding-top: 130px;
}

h1.all-main-title-text {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  color: white;
  margin-top: -50px;
  padding-top: 130px;
}

.title-sub-text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ccc;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.all-title-sub-text {
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ccc;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

.all-category-header {
  text-transform: uppercase;
  padding: 5px 0;
  width: 90%;
  color: #ddd;
  max-width: 1300px;
  margin: 30px auto 0 auto;
  text-align: center;
  border-bottom: 2px solid #404041;
  font-size: 24px;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.all-category-header .all-category-title-text {
  text-transform: uppercase;
  font-size: 18px;
  color: #eee;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-text {
  font-weight: 400;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  vertical-align: top;
  color: #ccc;
}

.desktop-price {
  font-size: 24px;
  font-weight: bold;
  color: #db0e00;
}

.title-image {
  max-height: 650px;
  margin: -3% auto;
  display: block;
  width: auto;
  max-width: 100%;
}

.all-title-image {
  max-height: 600px;
  margin: -3% auto -6.5% auto;
  display: block;
  width: auto;
  max-width: 100%;
  margin-top: 25px;
}

.title-container {
  max-width: 1600px;
  margin: 0 auto;
}

.desktop-listings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px auto 50px auto;
}

.desktop-listings-container.four-desktops {
  max-width: 80%;
}

.desktop-listings-container.four-desktops {
  max-width: 80%;
}

.desktop-listings-container.five-desktops {
  max-width: 90%;
}

.desktop-listings-container.three-desktops {
  max-width: 70%;
}

.desktop-listings-container.two-desktops {
  max-width: 50%;
}

.single-desktop-listing {
  min-height: 950px;
  max-width: 320px;
  min-width: 380px;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.single-desktop-listing .desktop-segment {
  padding: 5px 0;
}

.single-desktop-listing .desktop-segment+.desktop-segment {
  border-top: 1px solid #404041;
}

.more-information-link {
  color: #ccc;
  text-decoration: none;
  vertical-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.more-information-link:hover,
.more-information-image {
  color: white;
  text-decoration: none;
  transform: scale(1.02, 1.02);
}

.more-information-image {
  display: inline;
  height: 18px;
  width: auto;
}

.single-desktop-listing .image-section {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-desktop-listing .image-section img {
  max-width: 150%;
  max-height: 140%;
  margin: 0 auto;
  width: auto;
  height: auto;
  display: block;
}

.single-desktop-listing .desktop-title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Play', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4;
  color: white;
}

.single-desktop-listing .flavor-text {
  min-height: 200px;
}

.single-desktop-listing .processor-title {
  font-size: 20px;
  font-weight: 700;
}

.single-desktop-listing .core-title {
  font-size: 16px;
  font-weight: 400;
}

.single-desktop-listing .buy-now-button-segment {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 0 5px;
}

.single-desktop-listing .buy-now-button-segment .processor-image-section {
  width: 30px;
  height: 40px;
  margin: 0 5px 0 auto;
  display: flex;
  align-items: center;
}

.single-desktop-listing .buy-now-button-segment .processor-image-section img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}


.overall-description-section {
  box-sizing: border-box;
  padding: 30px 5%;
  max-width: 1300px;
  border-top: 1px solid #404041;
  margin: 0 auto;
  font-size: 15px;
}

.desktop-title {
  color: white;
}


@media only screen and (max-width:1380px) {
  .desktop-listings-container.four-desktops {
    max-width: 860px;
  }
}

@media only screen and (max-width:1040px) {
  .desktop-listings-container.three-desktops {
    max-width: 860px;
  }
}

@media only screen and (max-width:600px) {
  .overall-description-section {
    font-size: 16px;
  }

  h1.all-main-title-text,
  h1.main-title-text {
    font-size: 10vw;
    color: white;

  }
}